# Dependency directories
node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Local Uploads & Temp Files
uploads/*
!uploads/.gitkeep
scratch/

# Hardhat Build Artifacts & Cache
blockchain/artifacts/
blockchain/cache/
blockchain/typechain-types/

# Production Build Output
dist/
build/
*.log

# IDE files
.vscode/
.idea/
*.swp

# OS Files
Thumbs.db
.DS_Store
