PORT=5000
NODE_ENV=development

# MongoDB Connection String
MONGO_URI=mongodb://127.0.0.1:27017/secure_file_sharing

# JWT Authentication Config
JWT_SECRET=super_secret_jwt_key_change_in_production_32bytes
JWT_EXPIRES_IN=1d

# AES-256 Envelope Encryption Master Key (Must be 32 bytes / 64 hex characters or string)
MASTER_ENCRYPTION_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef

# Multi-Factor Authentication (OTP)
OTP_EXPIRES_MINUTES=5
OTP_MAX_ATTEMPTS=5
DEV_LOG_OTP=true

# Nodemailer SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-16-character-app-password

# Pinata IPFS Gateway & Credentials
PINATA_JWT=your_pinata_jwt_token_here
PINATA_GATEWAY_URL=https://gateway.pinata.cloud

# Ethereum Local Hardhat Node
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
# Development deployer wallet private key (Hardhat Account #0)
BLOCKCHAIN_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
CONTRACT_ADDRESS=

# File Upload Constraints
MAX_FILE_SIZE_MB=10
